
h1,h2{
  font-size: 120%;
}

.arial {
  font-family: "Arial", sans-serif;
   text-align: justify;
  text-justify: inter-word;

}
p{width:50%;}

body {
	padding-top:10%;
  background-image: url("bkg6.jpg");
 background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}